<!DOCTYPE html>
<!---
* @see <%= url %>
* @see http://www.hasthelhcdestroyedtheearth.com/
*
* Last-modified: <%= last_modified %>
* GitHub: https://github.com/aschyiel
* Enjoy! -uly, dec2013.
-->
<html>

<head>
  <title>Is Snoqualmie Pass Open Yet?</title>

  <meta charset="UTF-8">
  <meta name="description" content="Is Snoqualmie Pass open for snowboarding yet?">

  <style>

    .le_body {
      text-align:  center;
      font-family: Arial, sans-serif;
    }

    .answer {
      font-weight:     bold;
      font-size:       120pt;
      text-decoration: none;
      color:           black; 
    }

    .question {
      color: rgba( 1, 1, 1, 0.5 );
      font-size:       24pt;
      font-style: italic;
    }

  </style>
</head>

<body class="le_body" >
  <p class="question" >
    Is Snoqualmie Pass Open Yet?
  </p>
  <a
    class="answer"
    href="<%= url %>"
    >
    <%= ( is_open )? 'yeppers' : 'nope' %>
  </a>
</body>

</html>